# ignore all the dev stuff, stupid programmers added to the distributions
*.scss
*.sass
*.less
*/scss/*
*/sass/*
*/less/*


# ignore demo and dev dependencies stupid programmers added to the normal dependencies
*/test/*
*/example/*
*/demo/*

_dev-core/src/jquery/src/
_dev-core/src/bourbon/
_dev-core/src/doc-ready/
_dev-core/src/event*
_dev-core/src/fizzy*
_dev-core/src/get-s*
_dev-core/src/matches-selector/
_dev-core/src/outlayer/

dev-console/src/angular/
dev-console/src/ace-builds/src/
dev-console/src/ace-builds/src-min/
dev-console/src/ace-builds/src-noconflict/