# ignore all the dev stuff, stupid programmers added to the distributions
*.scss
*.sass
*.less
*/scss/*
*/sass/*
*/less/*



# ignore demo and dev dependencies stupid programmers added to the normal dependencies
*/test/
*/example/
*/demo/
*tests.js

*npm-debug.log
#dev-*/.bower.json
#dev-*/bower.json
dev-*/package.json


_dev-core/out/libs/angular/angular.js
_dev-core/out/libs/angular/angular.min.js.map
_dev-core/out/libs/bourbon/

_dev-core/out/libs/jquery/src
_dev-core/out/libs/jquery/external
_dev-core/out/libs/jquery/dist/jquery.js
_dev-core/out/libs/jquery/dist/jquery.min.map.js
_dev-core/out/libs/jquery/dist/jquery.slim.js
_dev-core/out/libs/jquery/dist/jquery.slim.min.js
_dev-core/out/libs/jquery/dist/jquery.slim.min.map.js

_dev-core/out/libs/lumx/core
_dev-core/out/libs/lumx/dist/lumx.js
_dev-core/out/libs/lumx/dist/scss

_dev-core/out/libs/masonry/dist/masonry.pkgd.js

_dev-core/out/libs/mdi/preview.html

_dev-core/out/libs/moment/CHANGELOG.md
_dev-core/out/libs/moment/moment.d
_dev-core/out/libs/moment/moment.js
_dev-core/out/libs/moment/locale
#_dev-core/out/libs/moment/locale/a*
#_dev-core/out/libs/moment/locale/b*
#_dev-core/out/libs/moment/locale/c*
#_dev-core/out/libs/moment/locale/f*
#_dev-core/out/libs/moment/locale/h*
#_dev-core/out/libs/moment/locale/k*
#_dev-core/out/libs/moment/locale/l*
#_dev-core/out/libs/moment/locale/m*
#_dev-core/out/libs/moment/locale/n*
#_dev-core/out/libs/moment/locale/p*
#_dev-core/out/libs/moment/locale/s*
#_dev-core/out/libs/moment/locale/t*
#_dev-core/out/libs/moment/locale/z*
_dev-core/out/libs/moment/min/locales.*
_dev-core/out/libs/moment/min/moment.min.js
_dev-core/out/libs/moment/min/moment-with-locales.js
_dev-core/out/libs/moment/min/tests.js
_dev-core/out/libs/moment/src
_dev-core/out/libs/moment/templates

_dev-core/out/libs/ng-clip/example
_dev-core/out/libs/ng-clip/src

_dev-core/out/libs/velocity/test



_dev-core/out/libs/get-s*
_dev-core/out/libs/matches-selector/


dev-console/out/libs/ace-builds/src
dev-console/out/libs/ace-builds/src-min
dev-console/out/libs/ace-builds/src-noconflict
dev-console/out/libs/angular-ui-ace/ui-ace.js
