<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxextensions">
            <SUBMENU id="mxmodule" cl="module" list="module_list">
                <TAB id="devmodulemetadata" cl="devmodulemetadata" />
            </SUBMENU>
            <SUBMENU id="devmetadata" cl="devmetadata" />
            <SUBMENU id="devlogs" cl="devlogs" />
            <SUBMENU id="devmails" cl="devmails" />
            <SUBMENU id="devconfigviewer" cl="devconfigviewer" />
        </MAINMENU>
    </OXMENU>
</OX>