@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('/modules/vt/DevUtils/out/fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('/modules/vt/DevUtils/out/fonts/MaterialIcons-Regular.woff') format('woff'),
    url('/modules/vt/DevUtils/out/fonts/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased !important;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility !important;;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale !important;;

    /* Support for IE. */
    font-feature-settings: 'liga' !important;;
}

body {
    min-height: calc(100vh - 55px);
    overflow-y:scroll !important;
}
.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding-right: 5%;
    padding-left: 5%;
}

.flexbox {
    display: flex;
    flew-wrap: wrap;
    justify-content: center;
    align-items: center;
}

th.divider {
    padding: 0;
    line-height: 0.5;
    text-align: center;
}
th.divider h4 {
    margin: 5px 0;
    display: inline-block;
    position: relative;
}

.modal {
    width: fit-content !important;
}

.m {
    margin: 8px !important
}

.mt {
    margin-top: 8px !important
}

.mr {
    margin-right: 8px !important
}

.mb {
    margin-bottom: 8px !important
}

.ml {
    margin-left: 8px !important
}

.mh {
    margin-right: 8px !important;
    margin-left: 8px !important
}

.mv {
    margin-top: 8px !important;
    margin-bottom: 8px !important
}

.m- {
    margin: 4px !important
}

.mt- {
    margin-top: 4px !important
}

.mr- {
    margin-right: 4px !important
}

.mb- {
    margin-bottom: 4px !important
}

.ml- {
    margin-left: 4px !important
}

.mh- {
    margin-right: 4px !important;
    margin-left: 4px !important
}

.mv- {
    margin-top: 4px !important;
    margin-bottom: 4px !important
}

.m\+ {
    margin: 16px !important
}

.mt\+ {
    margin-top: 16px !important
}

.mr\+ {
    margin-right: 16px !important
}

.mb\+ {
    margin-bottom: 16px !important
}

.ml\+ {
    margin-left: 16px !important
}

.mh\+ {
    margin-right: 16px !important;
    margin-left: 16px !important
}

.mv\+ {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.m\+\+ {
    margin: 24px !important
}

.mt\+\+ {
    margin-top: 24px !important
}

.mr\+\+ {
    margin-right: 24px !important
}

.mb\+\+ {
    margin-bottom: 24px !important
}

.ml\+\+ {
    margin-left: 24px !important
}

.mh\+\+ {
    margin-right: 24px !important;
    margin-left: 24px !important
}

.mv\+\+ {
    margin-top: 24px !important;
    margin-bottom: 24px !important
}

.m\+\+\+ {
    margin: 32px !important
}

.mt\+\+\+ {
    margin-top: 32px !important
}

.mr\+\+\+ {
    margin-right: 32px !important
}

.mb\+\+\+ {
    margin-bottom: 32px !important
}

.ml\+\+\+ {
    margin-left: 32px !important
}

.mh\+\+\+ {
    margin-right: 32px !important;
    margin-left: 32px !important
}

.mv\+\+\+ {
    margin-top: 32px !important;
    margin-bottom: 32px !important
}

.m0 {
    margin: 0 !important
}

.mt0 {
    margin-top: 0 !important
}

.mr0 {
    margin-right: 0 !important
}

.mb0 {
    margin-bottom: 0 !important
}

.ml0 {
    margin-left: 0 !important
}

.mh0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.mv0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.p {
    padding: 8px !important
}

.pt {
    padding-top: 8px !important
}

.pr {
    padding-right: 8px !important
}

.pb {
    padding-bottom: 8px !important
}

.pl {
    padding-left: 8px !important
}

.ph {
    padding-right: 8px !important;
    padding-left: 8px !important
}

.pv {
    padding-top: 8px !important;
    padding-bottom: 8px !important
}

.p- {
    padding: 4px !important
}

.pt- {
    padding-top: 4px !important
}

.pr- {
    padding-right: 4px !important
}

.pb- {
    padding-bottom: 4px !important
}

.pl- {
    padding-left: 4px !important
}

.ph- {
    padding-right: 4px !important;
    padding-left: 4px !important
}

.pv- {
    padding-top: 4px !important;
    padding-bottom: 4px !important
}

.p\+ {
    padding: 16px !important
}

.pt\+ {
    padding-top: 16px !important
}

.pr\+ {
    padding-right: 16px !important
}

.pb\+ {
    padding-bottom: 16px !important
}

.pl\+ {
    padding-left: 16px !important
}

.ph\+ {
    padding-right: 16px !important;
    padding-left: 16px !important
}

.pv\+ {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.p\+\+ {
    padding: 24px !important
}

.pt\+\+ {
    padding-top: 24px !important
}

.pr\+\+ {
    padding-right: 24px !important
}

.pb\+\+ {
    padding-bottom: 24px !important
}

.pl\+\+ {
    padding-left: 24px !important
}

.ph\+\+ {
    padding-right: 24px !important;
    padding-left: 24px !important
}

.pv\+\+ {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.p\+\+\+ {
    padding: 32px !important
}

.pt\+\+\+ {
    padding-top: 32px !important
}

.pr\+\+\+ {
    padding-right: 32px !important
}

.pb\+\+\+ {
    padding-bottom: 32px !important
}

.pl\+\+\+ {
    padding-left: 32px !important
}

.ph\+\+\+ {
    padding-right: 32px !important;
    padding-left: 32px !important
}

.pv\+\+\+ {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.p0 {
    padding: 0 !important
}

.pt0 {
    padding-top: 0 !important
}

.pr0 {
    padding-right: 0 !important
}

.pb0 {
    padding-bottom: 0 !important
}

.pl0 {
    padding-left: 0 !important
}

.ph0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.pv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}
